---
import BaseLayer from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('../pages/posts/*.md', { eager: true }));
const pageTitle = "My Astro Learning Blog";

---
<BaseLayer pageTitle = {pageTitle}>
    <p>This is a blog about things that I write about but I don't know what they are.</p>
    <ul>
      {allPosts.map((post:any) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
</BaseLayer>